/* .logout {
  overflow: hidden;
  font-size: 0.8em;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
          transition: opacity 0.45s;
} */

.button {
  display: flex;
  align-items: center;
  width: 41px;
  margin: 12px;
  padding: 8px;
  overflow: hidden;
  color: white;
  text-decoration: none;
  background-color: black;
  cursor: pointer;
  -webkit-transition: width 0.35s;
          transition: width 0.35s;
}

.button:hover {
  width: 100px;
}

.button:hover .logout {
  opacity: 0.9;
}
